
{% extends 'base.html' %}
{% load pipeline %}

{% block cssExtras %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery-ui/themes/base/jquery-ui.min.css" ></link>
<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}gridstack/dist/gridstack.min.css" ></link>
<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}gridstack/dist/gridstack-extra.min.css" ></link>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geocamUtil/css/dashboard.css"></link>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geocamUtil/css/datatable.css"></link>
{% endblock cssExtras %}

{% block jsInit %}
	$(function(){
        {% block preLayout %}
		{% endblock preLayout %}
		
    	xgds_gridstack.initializeGridstack();
    	
    	{% block otherJSInit %}
		{% endblock otherJSInit %}
	});
	
{% endblock %}


{% block scripts %}
{{block.super}}
	{% include "xgds_core/timeJS.html" %}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}jquery-ui/jquery-ui.min.js'></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables-select/js/dataTables.select.js"></script>
 	<!-- <script type="text/javascript" src='{{ EXTERNAL_URL }}lodash/lodash.min.js'></script> -->
    <script type="text/javascript" src='{{ EXTERNAL_URL }}handlebars/handlebars.min.js'></script>
	
	<script type="text/javascript" src="{{ STATIC_URL }}geocamUtil/js/datatable_helpers.js"></script>
    <script type="text/javascript" src="{{ EXTERNAL_URL }}gridstack/dist/gridstack.min.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}xgds_core/js/gridstackUtils.js"></script>
{% endblock scripts %}


{% block content %}
	{% block preDashboard %}
	{% endblock preDashboard %}

	{% block dashboard %}
	<div id="container" class="grid-stack grid-stack-6"> 
		
		{% block inDashboard %}
		{% endblock inDashboard %}
		
	</div> <!--  gridstack container -->
	{% endblock dashboard %}
{% endblock content %}