
{% extends 'base.html' %}
{% load pipeline %}
{% load static %}

{% block cssExtras %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery-ui/themes/base/jquery-ui.min.css" ></link>
<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}gridstack/dist/gridstack.min.css" ></link>
<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}gridstack/dist/gridstack-extra.min.css" ></link>
<link rel="stylesheet" type="text/css" href="{% static 'geocamUtil/css/dashboard.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'geocamUtil/css/datatable.css' %}"></link>
{% endblock cssExtras %}

{% block jsInit %}
	$(function(){
        {% block preLayout %}
		{% endblock preLayout %}
		
    	xgds_gridstack.initializeGridstack();
    	
    	{% block otherJSInit %}
		{% endblock otherJSInit %}
	});
	
{% endblock %}


{% block scripts %}
{{block.super}}
	{% include "xgds_core/timeJS.html" %}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}jquery-ui/jquery-ui.min.js'></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables-select/js/dataTables.select.js"></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}handlebars/handlebars.min.js'></script>
	
	<script type="text/javascript" src="{% static 'geocamUtil/js/datatable_helpers.js' %}"></script>
    <script type="text/javascript" src="{{ EXTERNAL_URL }}gridstack/dist/gridstack.min.js" ></script>
	<script type="text/javascript" src="{% static 'xgds_core/js/gridstackUtils.js' %}"></script>
{% endblock scripts %}


{% block content %}
	<div id="gridstack_buttonrow">
		<ul class="nav justify-content-end">
			<button id="gridstack_toggleAll" class='btn btn-primary fa fa-lock my-1' role='button' style="color:white; max-height:1.8rem;" onclick="xgds_gridstack.handleToggleAllClick();"></button>
            <button id="gridstack_reset" class='btn btn-primary my-1' role='button' style="color:white; max-height:1.8rem; margin-left: 2px;" onclick="xgds_gridstack.resetGrid(window.location.href);">Reset Layout</button>
        </ul>
	</div>
	{% block preDashboard %}
	{% endblock preDashboard %}

	{% block dashboard %}
	<div id="container" class="grid-stack grid-stack-6"> 
		
		{% block inDashboard %}
		{% endblock inDashboard %}
		
	</div> <!--  gridstack container -->
	{% endblock dashboard %}
{% endblock content %}

{% block footer %}
{% endblock footer %}
  