{% extends 'base_bootstrap.html' %}
{% load staticfiles %}
{% load siteFrames %}


{% block cssExtras %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}gridstack/dist/gridstack.min.css" ></link>
	<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}gridstack/dist/gridstack-extra.min.css" ></link>
	<style>
/*  .grid-stack-item  {
	left: 10px;
	right: 10px;	
} */

 .grid-stack-item-content {
    display: block;
    margin: 10px 0 5px;
    }
 </style>
{% endblock cssExtras %}

{% block scripts %}
{{ block.super }}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ EXTERNAL_URL }}lodash/lodash.min.js"></script>
    <script src="{{ EXTERNAL_URL }}jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ EXTERNAL_URL }}gridstack/dist/gridstack.min.js" ></script>
       <script type="text/javascript">
        $(function () {
        	
        	$(function () {
                $('.grid-stack').gridstack({
                    width: 6,
                    alwaysShowResizeHandle: /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent),
                    resizable: {
                        handles: 'e, se, s, sw, w'
                    }
                });
            });
        	
           /*  var options = {
                width: 6,
                //float: false,
                removable: '.trash',
                removeTimeout: 100,
                acceptWidgets: '.grid-stack-item'
            }; */
            /* $('#grid1').gridstack(options);

            var items = [
                {x: 0, y: 0, width: 2, height: 2},
                {x: 3, y: 1, width: 1, height: 2},
                {x: 4, y: 1, width: 1, height: 1},
                {x: 2, y: 3, width: 3, height: 1},
                {x: 2, y: 5, width: 1, height: 1}
            ];

            $('.grid-stack').each(function () {
                var grid = $(this).data('gridstack');

                _.each(items, function (node) {
                    grid.addWidget($('<div><div class="grid-stack-item-content" /></div>'),
                        node.x, node.y, node.width, node.height);
                }, this);
            }); */

        });
    </script>
    
{% endblock scripts %}

{% block contents %}

        <div class="row">
            <div class="col-md-12">
            
            	<table>
            	{% siteframe_form %}
            	</table>
            	
               <!--  <div class="grid-stack grid-stack-6" id="grid1">
                </div> -->
                
                <div class="grid-stack" data-gs-width="6" data-gs-animate="yes">
                <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="2"><div class="grid-stack-item-content">1</div></div>
                <div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="4" data-gs-height="4"><div class="grid-stack-item-content">2</div></div>
                <div class="grid-stack-item" data-gs-x="8" data-gs-y="0" data-gs-width="2" data-gs-height="2" data-gs-min-width="2" data-gs-no-resize="yes"><div class="grid-stack-item-content"> <span class="fa fa-hand-o-up"></span> Drag me! </div></div>
                <div class="grid-stack-item" data-gs-x="10" data-gs-y="0" data-gs-width="2" data-gs-height="2"><div class="grid-stack-item-content">4</div></div>
                <div class="grid-stack-item" data-gs-x="0" data-gs-y="2" data-gs-width="2" data-gs-height="2"><div class="grid-stack-item-content">5</div></div>
                <div class="grid-stack-item" data-gs-x="2" data-gs-y="2" data-gs-width="2" data-gs-height="4"><div class="grid-stack-item-content">6</div></div>
                <div class="grid-stack-item" data-gs-x="8" data-gs-y="2" data-gs-width="4" data-gs-height="2"><div class="grid-stack-item-content">7</div></div>
                <div class="grid-stack-item" data-gs-x="0" data-gs-y="4" data-gs-width="2" data-gs-height="2"><div class="grid-stack-item-content">8</div></div>
                <div class="grid-stack-item" data-gs-x="4" data-gs-y="4" data-gs-width="4" data-gs-height="2"><div class="grid-stack-item-content">9</div></div>
                <div class="grid-stack-item" data-gs-x="8" data-gs-y="4" data-gs-width="2" data-gs-height="2"><div class="grid-stack-item-content">10</div></div>
                <div class="grid-stack-item" data-gs-x="10" data-gs-y="4" data-gs-width="2" data-gs-height="2"><div class="grid-stack-item-content">11</div></div>
            </div>
            </div>
        </div>
{% endblock contents %}


 