{% extends "base.html" %}
{% load nav %}
{% load tz %}
{% load static %}

{% block siteSection %} {{ settings.XGDS_CORE_FLIGHT_MONIKER }} List {% endblock %}

{% block nav %}
    {% nav "planner2.manageFlight" %}
    {{ block.super }}
{% endblock %}

{% block cssExtras %}
{{ block.super }}
<style type="text/css" title="currentStyle">
	@import "{{ EXTERNAL_URL }}jquery-ui-dist/jquery-ui.min.css";
</style>
{% endblock cssExtras %}

{% block sitemenu-content-secondary %}
    {% include "xgds_planner2/planner2_subnav.html" %}
{% endblock %}

{% block contents %}
	{% if errorString %}
	<span class="error">{{ errorString }}</span>
	{% endif %}
	<div class="d-flex justify-content-between" style="width: 100%;">
		<div class="btn-group" role="group">
            {% if settings.XGDS_CORE_ADD_GROUP_FLIGHT %}
			<a class="btn btn-primary" role="button" href="{% url 'xgds_core_addGroupFlight' %}" >Create {{ settings.XGDS_CORE_FLIGHT_MONIKER}}s</a>
            {% endif %}
            {% if settings.XGDS_CORE_SHOW_FLIGHT_MANAGEMENT %}
			<a class="btn btn-primary" role="button" href="{% url 'xgds_core_manage' %}" >Manage {{ settings.XGDS_CORE_FLIGHT_MONIKER}}s</a>
            {% endif %}
		</div>
	</div>

	<table id="dataTable" class="planIndex table-striped">
    <thead>
    <tr>
        {% for h in column_headers %}
        <th>{{ h }}</th>
        {% endfor %}
    </tr>
    </thead>

	</table>

{% endblock contents %}

{% block scripts %}
  {{ block.super }}
    {% include "xgds_core/timeJS.html" %}
  	<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui-dist/jquery-ui.min.js"></script>
  	<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}datatables/media/js/jquery.dataTables.min.js"></script>
	<script language="javascript" type="text/javascript" src="{% static 'xgds_core/js/datatablesUtils.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}datatables.net-plugins/sorting/datetime-moment.js"></script>
<script type="text/javascript">


$(document).ready( function () {

    var column_headers = {{ column_headers | safe }};
    var getColumnDefs = function(headers) {
		result = [];
		for (var i=0; i<headers.length; i++){
			var heading = headers[i];
			if  (heading == 'Started' || heading == 'Ended'){
			    var index = i;
				result.push({ render: function ( data, type, row ) {
					return getLocalTimeString(data, row[index], "MM/DD/YY HH:mm:ss z");
				},
				targets: i
				});
			} else if  (heading == 'Duration'){
			        var duration_index = i;
				result.push({ render: function ( data, type, row ) {
				    return secondsToHMS(row[duration_index]);
				},
				targets: i
				});
			} else if (heading == 'Name') {
			        var name_index = i;
				result.push({render: function(data, type, row){
                    result = '<a href="/xgds_map_server/greplay/' + row[name_index] + '" target="_blank">';
                    result += row[name_index];
                    result += '</a>';
                    return result;
				},
				targets: i
				})
			}
		}

		return result;
	};

    $.fn.dataTable.moment( "MM/DD/YY HH:mm:ss zz");
    defaultOptions['language'] = {
        "lengthMenu": "Display _MENU_ {{settings.XGDS_CORE_GROUP_FLIGHT_MONIKER}}s"
      };
    defaultOptions['processing'] = true;
    defaultOptions['serverSide'] = true;
    defaultOptions['ajax'] = "{% url 'group_flight_dt_list_json' %}";
    //defaultOptions['rowCallback']= function (row, data, index){
    //            	$(row).attr('id', data[0]);
    //            };

    defaultOptions['columnDefs'] = getColumnDefs(column_headers);
	var dataTable = $('#dataTable').dataTable(defaultOptions);
    $(window).resize(function(){
        $('div.dataTables_scrollBody').css('height',calcDataTableHeight());
        dataTable.fnAdjustColumnSizing();
    });
} );
 </script>
{% endblock scripts %}
