{% extends "base.html" %}
{% load nav %}
{% load static %}
{% block siteSection %}Manage {{settings.XGDS_CORE_FLIGHT_MONIKER}} Help{% endblock %}

	{% block headExtras %}
	<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery-ui-dist/jquery-ui.min.css" ></link>
	{% endblock %}
		
		
   {% block nav %}
    {% nav "xgds_core_addGroupFlight" %}
    {{ block.super }}
{% endblock %}

{% block sitemenu-content-secondary %}
    {% include "xgds_planner2/planner2_subnav.html" %}
{% endblock %}
						
{% block contents %}

<h3>Manage Schedule Help</h3>
<p>
A "{{settings.XGDS_CORE_FLIGHT_MONIKER}}" is the execution of one or more {{ settings.XGDS_PLANNER_PLAN_MONIKER }}s at a given time on a given vehicle.
For example, you may have a series of related {{ settings.XGDS_PLANNER_PLAN_MONIKER }}s that you intend to execute in a sequence on a certain day.
</p>
<p>
<h6>Schedule {{ settings.XGDS_PLANNER_PLAN_MONIKER }}s:</h6>
<ol>
<li>Go to the <a href="{% url 'planner2_index' %}" target="_blank">List {{ settings.XGDS_PLANNER_PLAN_MONIKER }}s</a> page.</li>
<li>Check the box to the left of the {{ settings.XGDS_PLANNER_PLAN_MONIKER }} you want to schedule.</li>
<li>Click the Schedule Selected blue button on the upper right; this dialog will pop up:<br/>
<img src="{% static 'xgds_planner2/images/SchedulePlan.png' %}"></li>
<li>Click the box to the right of the When label and select the date AND time (24 hour clock) when you intend to run the {{ settings.XGDS_PLANNER_PLAN_MONIKER }}.  Note it does not have to be exact.</li>
<li>Click the Schedule button</li>
<li>You will notice that there is now a time in the Scheduled column on the list {{ settings.XGDS_PLANNER_PLAN_MONIKER }}s page.</li>
<li>You can schedule the same {{ settings.XGDS_PLANNER_PLAN_MONIKER }} to be run at different times.</li>
</ol>
Notes: behind the scenes, this created a {{settings.XGDS_CORE_FLIGHT_MONIKER}} for you if there was not already a {{settings.XGDS_CORE_FLIGHT_MONIKER}} for that day.
</p> 
<p>
<h6>Manage Schedule:</h6>
In order to start up the video infrastructure on xGDS, you need to start (and stop) {{settings.XGDS_CORE_FLIGHT_MONIKER}}s.  In order to have accurate times in Playbook you need to start (and stop) plans.
<ol>
<li>Go to the <a href="{% url 'xgds_core_manage' %}" target="_blank">Manage Schedule</a> page.</li>
<li>You will see a list of the {{settings.XGDS_CORE_FLIGHT_MONIKER}}s, indented under the {{settings.XGDS_CORE_FLIGHT_MONIKER}}s are the {{ settings.XGDS_PLANNER_PLAN_MONIKER }}s scheduled for those {{settings.XGDS_CORE_FLIGHT_MONIKER}}s.</li>
<li>If you are just managing {{settings.XGDS_CORE_FLIGHT_MONIKER}}s for today, it's nice to check the "Today" box on the upper left.</li>
<li>To start a {{settings.XGDS_CORE_FLIGHT_MONIKER}}, click the start link next to the {{settings.XGDS_CORE_FLIGHT_MONIKER}} you want to start.  Active {{settings.XGDS_CORE_FLIGHT_MONIKER}}s will be listed in green.  You should do this when the rover is up and running and there is a track in xGDS.</li>
<li>To start a {{ settings.XGDS_PLANNER_PLAN_MONIKER }}, click the start link next to the {{ settings.XGDS_PLANNER_PLAN_MONIKER }} you want to start.  Active {{ settings.XGDS_PLANNER_PLAN_MONIKER }}s will be listed in green.</li>
<li>When the {{ settings.XGDS_PLANNER_PLAN_MONIKER }} is done (aborted or completed) click the stop button next to the {{ settings.XGDS_PLANNER_PLAN_MONIKER }}.  The {{ settings.XGDS_PLANNER_PLAN_MONIKER }} will no longer be green and it will show the stop time.</li>
<li>When the {{settings.XGDS_CORE_FLIGHT_MONIKER}} is done, click the stop button next to the {{settings.XGDS_CORE_FLIGHT_MONIKER}}.  The {{settings.XGDS_CORE_FLIGHT_MONIKER}} will no longer be green and it will show the stop time.</li>
<li>If you accidentally added {{ settings.XGDS_PLANNER_PLAN_MONIKER }}s you don't intend to run to the {{settings.XGDS_CORE_FLIGHT_MONIKER}}, you can delete them.</li>
</ol>
</p>
<p>
<h6>Multiple {{settings.XGDS_CORE_FLIGHT_MONIKER}}s on one day:</h6>
There may be a time when we have multiple executions on one day, i.e. the rover powers down midday, you move to a different site, or take a lunch break.  There is no limit to how many {{settings.XGDS_CORE_FLIGHT_MONIKER}}s you can set up for one day.  In this case, you will have to manually create all subsequent {{settings.XGDS_CORE_FLIGHT_MONIKER}}s for a day.
Our naming convention for {{settings.XGDS_CORE_FLIGHT_MONIKER}}s is DATELETTER_VEHICLE, for example 20140912A_KRex2.
<h6>To create a {{settings.XGDS_CORE_FLIGHT_MONIKER}} manually:</h6>
<ol>
<li>Go to the Manage Schedule page {%  url 'xgds_core_manage' %}</li>
<li>Click the blue Create {{settings.XGDS_CORE_FLIGHT_MONIKER}}s button on the upper right.</li>
<li>Choose the date of the {{settings.XGDS_CORE_FLIGHT_MONIKER}} you want to create.</li>
<li>Choose the prefix letter of the {{settings.XGDS_CORE_FLIGHT_MONIKER}}; most likely it will be B or higher.  Please use uppercase.</li>
<li>Make sure the vehicle(s) you want are checked.</li>
<li>Click Create.</li>
</ol>
</p>
<p>
To schedule {{ settings.XGDS_PLANNER_PLAN_MONIKER }}s with one of these hand-created {{settings.XGDS_CORE_FLIGHT_MONIKER}}s, see the steps for Schedule {{ settings.XGDS_PLANNER_PLAN_MONIKER }}s above.
<ol>  
<li>When you are filling out the dialog, choose the {{settings.XGDS_CORE_FLIGHT_MONIKER}} from the drop down (i.e. 20140912B_KRex2).</li>
<li>You also must enter the date and time for the {{ settings.XGDS_PLANNER_PLAN_MONIKER }} to execute.</li>
<li>Press Schedule.</li>
<li>On the Manage Schedule page you will see the {{ settings.XGDS_PLANNER_PLAN_MONIKER }} scheduled under the {{settings.XGDS_CORE_FLIGHT_MONIKER}} you selected.</li>
</ol>
{% endblock contents %}
