	<script type="text/javascript" src="{{ EXTERNAL_URL }}moment/moment.js"></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}moment-timezone/moment-timezone.js"></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}moment-range/dist/moment-range.min.js"></script>
	<script type="text/javascript" src='{{ STATIC_URL }}xgds_core/js/timezoneDefs.js'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}xgds_core/js/timezoneUtils.js'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}xgds_core/js/playbackUtils.js'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}xgds_core/js/playbackSlider.js'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}xgds_core/js/playbackPlayer.js'></script>
	