<div class="controller_div">
	<div id="control_row" class="row" style="margin-bottom:8px;">
	<div id="control_buttons_time" class="eight columns">
	<a class="btn btn-primary btn btn-primary-info" id="playbuttonLink" href="#"
		onclick="playback.playButtonCallback()"> <i id="playbutton"
		class="fa fa-play fa-lg"></i>
	</a> <a class="btn btn-primary btn btn-primary-info" id="pausebuttonLink" href="#"
		onclick="playback.pauseButtonCallback()"> <i id="pausebutton"
		class="fa fa-pause fa-lg active"></i>
	</a>
	<span id="sliderTimeLabel">MM/DD/YY 00:00:00</span>
	</div>
	<div id="control_buttons_inputs" class="four columns" style="text-align:right">
	<label for="playbackSpeed">Speed:</label> <input id="playbackSpeed" type="text" name="text-input" value="1" style="max-width:30px"/>
	<label for="seekTime">Jump to:</label> <input id="seekTime" type="text" name="text-input" placeholder="MM/DD/YY HH:mm:ss" style="max-width:140px" />
	<button type="submit" class="btn btn-primary" id="seekButton">Go</button>
	</div>
	</div>
	<div id="masterSlider" class="masterSlider" style="margin-bottom:8px;"></div>
</div>