{% load static %}
<script type="text/javascript" src="{{ EXTERNAL_URL }}moment/min/moment.min.js"></script>
<script type="text/javascript" src="{{ EXTERNAL_URL }}moment-timezone/builds/moment-timezone.min.js"></script>
<script type="text/javascript" src="{{ EXTERNAL_URL }}moment-range/dist/moment-range.js"></script>
<script type="text/javascript" src="{% static 'xgds_core/js/timezoneDefs.js' %}"></script>
<script type="text/javascript" src="{% static 'xgds_core/js/timezoneUtils.js' %}"></script>
